*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    padding: 1px 8px;
}

body {
    background: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
}

.header__up {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.header__main {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 32px;
}

.header__link {
    text-decoration: none;
}

.header__nav {
    display: flex;
    gap: 10px;
}

.article {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px dashed #ccc;
}

.article__entities {
    display: flex;
    align-items: center;
    gap: 62px;
}

.article__info {
    display: flex;
    gap: 20px;
}

.article__actions {
    display: flex;
    gap: 20px;
}

.sub-header {
    display: flex;
    padding: 20px;
}

.sub-header__info {
    display: flex;
    align-items: center;
    width: 100%;
}

.basket {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.basket__descr {
    margin-right: 20px;
}

.basket_concrete {
    font-weight: bold;
    margin-right: 15px;
}

.basket__current-count {
    margin-right: 5px;
}

.basket__current-price {
    margin-left: 5px;
}

.cart-result {
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    padding: 0 20px;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 10px;
}

.pagination__item {
    color: #000;
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__item:hover {
    background: #e1e1e1;
}

.pagination__item.current {
    background: #0087e9;
    color: #fff;
}

.nav__list {
    list-style: none;
}

.nav__link {
    color: #0087e9;
}

.nav__link:hover {
    opacity: 0.8;
}

.nav__link:active {
    opacity: 0.4;
}

.auth {
    margin-top: 40px;
    padding-left: 20px;
}

.auth__title {
    font-size: 24px;
    font-weight: 700;
}

.auth__form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.auth__label {
    display: block;
}

.auth__input {
    padding: 3px 5px;
}

.auth__errors {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.auth__error {
    color: red;
    display: block;
}

.content-area {
    margin-top: 40px;
    padding: 0 20px;
}

.profile__title {
    font-size: 24px;
    margin-bottom: 30px;
}

.profile__field {
    display: flex;
    gap: 5px;
    font-size: 18px;
}

.profile__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile__value {
    font-weight: bold;
}
